.cell {
  width: 93%;
  height: 93%;
  border-radius: 20%;
  box-sizing: border-box;
  margin: 0px;
  background-color: rgb(119, 21, 21);
}

.cell--outer {
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
 
}
.cell--outer-border{
  border-top: 1px solid;
    border-left: 1px solid;
    margin-top: -1px;
    margin-left: -1px;
    border-color: rgb(240, 240, 240);
}

.cell--full {
  background-color: brown;
  margin: 0px;
  border: 2px solid;
}

.row {
  display: flex;
  box-sizing: border-box;
  margin: 0px;
}

.field--inner {
  border: 5px solid;
  position: relative;
  margin: 20px;
}

.field--outer {
  display: flex;
}

.field--outer--right {
  justify-content: center;
}

.field--outer--bottom {
  align-items: center;
}

.message {
  position: absolute;
  width: 100%;
  top: 45%;
  text-align: center;
  color: red;
  font-size: xx-large;
}

.infoBadge {
  text-align: center;
  border-radius: 8px;
  border: 2px solid;
  margin: 0px 0px 5px 0px;
  font-size: 3rem;
  background-color: #42aaf5;
  color: white;
  border-color: black;
  padding: 0.5rem;
}
 
.info{
  width: 100%;
}
.slider{
  min-width: 3rem;
}
 
.sliderContainer{
     display: flex;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
}

.sliderLabel{
  line-height: 2rem;
  font-size: small;
}

.infoBlock{
  margin-bottom: 20px ;
}

.field--preview {
  display: flex;
}

.field--preview--bottom {
  justify-content: space-around;
  margin: 0px 20px 0px 20px;
  width: 100%;
  max-width: 15rem;
}

.field--preview--right {
  justify-content: flex-start;
  margin-top: 20px;
}

.menu{
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  height: 50vh;
  min-width: 17rem;
  width: fit-content;
  margin: auto;
  margin-top: 20vh;
}

.menu--item{
  height: 5rem;
  line-height: 100%;
  padding: 0 1rem;
}

.exit--button{
  background-color: crimson;
  width: 100%;
  padding: 0.5rem;
  height: fit-content;
}

.about{
  position: absolute;
  top:10vh;
  left: 10vw;
  width: 75vw;
  height: 75vh;
  background-color: rgb(0, 197, 197);
  z-index: 1;
  font-size: xx-large;
  padding: 1rem;
}

.close--button {
  color: rgb(0, 0, 0);
  position: absolute;
  top: -23px;
  right: -5px;
  font-size: 40px;
  color:crimson;
}

.close--button:hover 
  {
  color: #000;
  cursor: default;
}