.cell {
  width: 93%;
  height: 93%;
  border-radius: 20%;
  box-sizing: border-box;
  margin: 0px;
  background-color: rgb(119, 21, 21);
}

.cell--outer {
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cell--outer-border {
  border-top: 1px solid;
  border-left: 1px solid;
  margin-top: -1px;
  margin-left: -1px;
  border-color: rgb(240, 240, 240);
}

.cell--full {
  background-color: brown;
  margin: 0px;
  border: 2px solid;
}

.row {
  display: flex;
  box-sizing: border-box;
  margin: 0px;
}

.field--inner {
  border: 5px solid;
  position: relative;
  margin: 20px;
}

.field--outer {
  display: flex;
}

.field--outer--right {
  justify-content: center;
}

.field--outer--bottom {
  align-items: center;
}

.message {
  position: absolute;
  width: 100%;
  top: 45%;
  text-align: center;
  color: red;
  font-size: xx-large;
}

.infoBadge {
  text-align: center;
  border-radius: 8px;
  border: 2px solid;
  margin: 0px 0px 5px 0px;
  font-size: 1rem;
  background-color: #42aaf5;
  color: white;
  border-color: black;
  padding: 0.5rem;
  height: 2rem;
  box-sizing: border-box;
  line-height: 0.75rem;
}

.info {
  width: 100%;
}
.slider {
  min-width: 3rem;
}

.sliderContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
}

.sliderLabel {
  line-height: 0.75rem;
  font-size: small;
}

.infoBlock--right {
  margin-bottom: 20px;
  width: 100%;
}

.infoBlock--bottom {
  margin-bottom: 20px;
  width: 45%;
  max-width: 15rem;
}

.field--preview {
  display: flex;
}

.field--preview--bottom {
  justify-content: space-around;
  margin: 0px 20px 0px 20px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.field--preview--right {
  justify-content: flex-start;
  margin-top: 20px;
  flex-direction: column;
}

.exit--button {
  background-color: crimson;
  width: 100%;
  padding: 0.5rem;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  height: 50vh;
  min-width: 17rem;
  width: fit-content;
  margin: auto;
  margin-top: 20vh;
}

.menu--item {
  height: 5rem;
  line-height: 100%;
  padding: 0 1rem;
  font-size: 3rem;
}

.about {
  position: absolute;
  top: 10vh;
  left: 10vw;
  width: 75vw;
  height: 75vh;
  background-color: rgb(128, 222, 250);
  z-index: 1;
  font-size: xx-large;
  padding: 16px;
  border: 3px solid rgb(47, 125, 199);
}

.close--button {
  width: 19px;
  height: 19px;
  position: absolute;
  top: 0;
  right: 0;
}
